# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: ^snapshots/.*/(?:configs|show)/
      - id: trailing-whitespace
        exclude: ^snapshots/.*/(?:configs|show)/

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 23.11.0
    hooks:
      - id: black

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [markdown, yaml]
        exclude: ^snapshots/.*/show/

  - repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
# MyPy type checking (run manually with: mypy src/)
# Disabled in pre-commit due to module resolution issues in isolated environment
# - repo: https://github.com/pre-commit/mirrors-mypy
#   rev: v1.8.0
#   hooks:
#   - id: mypy
#     additional_dependencies: [pybatfish, attrs, pyparsing, pandas-stubs, types-requests]
#     args: [--explicit-package-bases, --namespace-packages]
#     files: ^src/
